<!--<%# if @model == 'user' %>-->
<!--  <h3>【Usersモデルの検索結果】検索ワード：<%#= @content %></h3>-->
<!--  <%#= render 'users/index', users: @records %>-->
<!--<%# else @model == 'posts' %>-->
<!--  <h3>【Postsモデルの検索結果】検索ワード：<%#= @content %></h3>-->
<!--    <%#= render 'posts/index', posts: @records %>-->
<!--<%# end %>-->

<table>
    <thead>
        <tr>
            <th>タイトル</th>
            <th>年代</th>
            <th>ジャンル</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="movie">
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.created_year %></td>
        <td><%= movie.genre_id %></td>
        <td><%= link_to "詳細", movie_path(movie) %>
      </tr>
    <% end %>
    </tbody>
</table>