<h4>ようこそMovie Mapsへ！</h4>

<% @movies.each do |movie| %>
  <%= attachment_image_tag movie, :image, :fill, 100, 100, format: 'jpeg' %>
  <%= movie.title %>
  <%= movie.created_year %>年
  <%#= movie.genre_id %>
<% end %>