<h4>マイページ</h4><%= link_to "編集する",  mypages_edit_path(current_user), class: "btn btn-primary" %>

<div class="content">
  <table>
    <tr><th>ニックネーム</th><td><%= current_user.nickname %></td></tr>
    <tr><th>メールアドレス</th><td><%= current_user.email %></td></tr>
  </table><br>

  投稿レビュー<%= link_to "一覧を見る", mypages_path, class: "btn btn-success" %>
</div>
