<% if model.errors.any? %>
  <div class="alert alert-warning">
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<!--<%# if review.errors.any? %>-->
<!--  <%#= review.errors.count %>件のエラーが発生しました-->
<!--  <%# review.errors.full_messages.each do |message| %>-->
<!--    <%#= message %>-->
<!--  <%# end %>-->
<!--<%# end %>-->